*{
    font-family: "EB Garamond", serif;
}
.icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    display: flex;
    background-color: rgb(102, 25, 25);
    color: white;
    
}
.icon2{
     width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    display: flex;
    background-color: rgb(102, 25, 25);
    color: white;
}
.card{
    border-radius: 15px;
    display: inline-block;
    color: white;
     /*  margin-bottom: 300px;
        height: 270px;
       margin-top: 50px; */
       

}
.card:hover {
    background-image: linear-gradient(to bottom right, rgb(16, 82, 29) , rgb(8, 43, 10));

}
.container {
    display: flex;
     max-width: 800px; 
    margin: 0 auto;
}
.nav{
    position: sticky;
    
}
 .card2{
   
  text-align: center;
  align-items: center;
  justify-content: center;
} 


.inner{
    overflow: hidden;
    border-radius: 15px;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.2);
}

.c{
   
}