*{
    font-family: "EB Garamond", serif;
     margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
   overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
  }
.icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    display: flex;
    background-color: rgb(102, 25, 25);
    color: white;
    
}
.icon2{
     width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    display: flex;
    background-color: rgb(102, 25, 25);
    color: white;
}
 .card{
    border-radius: 15px;
    display: inline-block;
    color: white;
     /* 
        height: 270px;
       margin-top: 50px; */
       

} 
.c2:hover {
    background-image: linear-gradient(to bottom right, rgb(16, 82, 29) , rgb(8, 43, 10));

}
.container {
    display: flex;
/*     max-width: 800px; 
 */     
} 
.nav{
    position: sticky;
    
}
 .card2{
   
  text-align: center;
  align-items: center;
  justify-content: center;
} 


.inner{
    overflow: hidden;
    border-radius: 0px 0px 15px 15px;
     
  
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.2);
}

#myBtn{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: maroon;
    border: none;
    cursor: pointer;
    color: white;
    
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  .form{
    justify-content: center;
    align-items: center;
 
  }

  .c1{
    display: flex;
	align-items: center;
	justify-content: center;

  }
  @media screen and (min-width:600px){
  .c1{
    flex-direction: column;
  }

  
  }
  @media screen and (max-width: 600px) {
    .c3 {
      width: 100%;
      display: block;
    
    }
  }
  .text{
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .c2{
    border-radius:  15px 15px 0px 0px;
  background-color: black;
  }

  @media screen and (max-width: 600px) {
    .c2 {
      width: 100%;
      display: block;
    
    }
  }
  .form{
    align-items: center;
    justify-content: center;
    
  }